name: OnRelease
on:
  workflow_run:
    workflows: [Release]
    types: [completed]

env:
  RUSTFLAGS: -D warnings
  CARGO_INCREMENTAL: 0
  RUSTUP_MAX_RETRIES: 10
  CARGO_NET_RETRY: 10

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: get release info
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          run_id: ${{ github.event.workflow_run.id }}
          name: release assets url
      - name: read release info
        id: release
        run: |
          echo ::set-output name=tag::$(cat release-upload.url | cut -d \  -f 1)
          echo ::set-output name=upload_url::$(cat release-upload.url | cut -d \  -f 2)
    outputs:
      tag: ${{ steps.release.outputs.tag }}
      upload_url: ${{ steps.release.outputs.upload_url }}
  # some-job:
  #   name: Some Job
  #   needs: release
  #   runs-on: ${{ matrix.os }}
  #   defaults:
  #     run:
  #       shell: bash
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os:
  #         - ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #       with:
  #         # checkout specified rev:
  #         ref: ${{ github.event.workflow_run.head_sha }}
  #     # ...
  #     - name: Upload artifact
  #       uses: actions/upload-release-asset@v1
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       with:
  #         upload_url: ${{ needs.release.outputs.upload_url }}
  #         asset_name: ${{ steps.archive.outputs.name }}
  #         asset_path: ./${{ steps.archive.outputs.path }}
  #         asset_content_type: application/gzip
