name: Release
on:
  push:
    tags:
      - v?[0-9]+.[0-9]+.*

jobs:
  release:
    name: Page
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Extract the version tag
        id: version
        run: echo ::set-output name=value::$(echo $GITHUB_REF | cut -d / -f 3)

      # checkout needed for changelog only
      - name: Checkout
        uses: actions/checkout@v2
        with: { fetch-depth: 0 }

      - id: changelog
        name: Generate Changelog
        continue-on-error: true
        run: |
          TAG_FIRST=$(git describe --abbrev=0 --tags $(git describe --abbrev=0)^)
          TAG_SECOND=$(git describe --abbrev=0)
          echo "Generating changelog between tags: ${{ steps.version.outputs.value }}...$TAG_FIRST...$TAG_SECOND"

          RESULT_FILE=generated-changelog.md
          RESULT_LOG_ACT="$(git log $TAG_SECOND...${{ steps.version.outputs.value }} --pretty=format:'- %s [·](${{ github.event.repository.html_url }}/commit/%H)' --reverse)"
          RESULT_LOG_POST="$(git log $TAG_FIRST...$TAG_SECOND --pretty=format:'- %s [·](${{ github.event.repository.html_url }}/commit/%H)' --reverse)"

          echo "
          ## TODO: EDIT ME BEFORE PUBLISH

          [link-tools]: ${{ github.event.repository.html_url }}/actions?query=workflow%3A%22Build+Release+Tools%22
          [link-ext]: ${{ github.event.repository.html_url }}/actions?query=workflow%3A%22Build+Release+Ext%22
          [badge-tools]: ${{ github.event.repository.html_url }}/workflows/Build%20Release%20Tools/badge.svg?event=workflow_run (tools workflow)
          [badge-ext]: ${{ github.event.repository.html_url }}/workflows/Build%20Release%20Ext/badge.svg?event=workflow_run (ext workflow)

          __Please wait build completions for:__
          - [![Build Release Tools][badge-tools]][link-tools]
          - [![Build Release Ext][badge-ext]][link-ext]

          - - -

          __Changelog ${{ steps.version.outputs.value }}__…${TAG_SECOND}

          $RESULT_LOG_ACT

          __Changelog ${TAG_SECOND}__…${TAG_FIRST}

          $RESULT_LOG_POST

          <!-- Built with ♥️. -->
          " > $RESULT_FILE

          echo ::set-output name=file::"$RESULT_FILE"

      - id: release
        name: Create release ${{ steps.version.outputs.value }}
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: true
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body_path: ${{ steps.changelog.outputs.file }}

      - name: Save release assets url for other workflows
        run: echo "${{ steps.version.outputs.value }} ${{ steps.release.outputs.upload_url }}" > release-upload.url

      - name: Set release assets url as artifact
        uses: actions/upload-artifact@v2
        with:
          name: release assets url
          path: release-upload.url
          if-no-files-found: error
          retention-days: 1

    outputs:
      tag: ${{ steps.version.outputs.value }}
      upload_url: ${{ steps.release.outputs.upload_url }}

  build:
    needs: release
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        dove:
          - 1.3.2
    defaults:
      run:
        shell: bash
    env:
      CARGO_INCREMENTAL: 0
      RUSTUP_MAX_RETRIES: 10
      CARGO_NET_RETRY: 10

    steps:
      - name: Prepare Metadata
        id: build-info
        run: |
          echo "${{ needs.release.outputs.tag }}"
          echo "${{ needs.release.outputs.upload_url }}"

          uname -a > build-info.txt
          rustc -V >> build-info.txt
          echo "::set-output name=arch::$(uname -m)"

      - name: Checkout repository
        uses: actions/checkout@v2

      - id: rust # MSRV
        name: Read required Rust version
        run: |
          echo "WASM_BUILD_TOOLCHAIN=$(cat rust-toolchain)" >> $GITHUB_ENV
          echo ::set-output name=version::$(cat rust-toolchain)

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ steps.rust.outputs.version }}
          profile: minimal
          target: wasm32-unknown-unknown
          override: false

      - name: Get Dove
        uses: pontem-network/get-dove@main
        with:
          prerelease: true
          version: ${{ matrix.dove }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: cargo +${{ steps.rust.outputs.version }} build --release

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: target/release/pontem
          asset_name: pontem-${{ matrix.os }}-${{ steps.build-info.outputs.arch }}
          asset_content_type: application/octet-stream
